<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Gym Management System</title>

<style type="text/css">
a {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

body
{
background-color: olive;
}

</style>

</head>
<body>

<div style="position: absolute; left: 450px; top:50px;">


<table>

<tr>
<th colspan="2">
<h1>Gym Management System</h1>
</th>
</tr>

<!--<tr>
<th colspan="2">
<img src="E:\DhananjayaFolder\PythonProjects\GymManagementSystem\templates\Library.jpg" width="650px" height="450px"/>
</th>
</tr>-->

<tr>
	<th>
	<a href="adminlogin">Admin Login</a>
	</th>

	<!--<th>
	<a href="UserLogin.jsp">User Login</a>
	</th>-->

</tr>
</table>
</div>

</body>
</html>